.dashBoardBody {
  padding-left: 18.1%;
}

.introduction {
  align-items: center;
  display: flex;
}

.greetName {
  padding-left: 1rem;
  font-weight: bold;
}

.introductionFiller {
  font-size: 0.8rem;
  color: grey;
}

.totalStats {
  padding-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.totalRevenue {
  border: solid;
  border-width: thin;
  border-color: grey;
  padding: 5rem;
}
