* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*The whole navbar*/
.navBar {
  background-color: white;
  color: black; /*word color*/
  display: flex; /*customize spacing*/
  justify-content: space-between; /*Make space middle*/
  align-items: stretch; /*make content go center*/
  gap: 2rem;
  padding: 1rem 2rem; /*Put space on the edges*/
}

/*The logo on the left*/
.title {
  font-size: 2rem;
}

/*The right side content*/
.navBar ul {
  padding: 0;
  margin: 0;
  list-style: none; /*Remove bullet*/
  display: flex; /*Make it flow left to right*/
  gap: 1rem; /*Space between each link*/
}

.navBar a {
  color: inherit;
  text-decoration: none; /*Remove underline from hyperlink*/
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

/*When mouse move over it*/
.navBar li:hover {
  text-decoration: underline;
}
