.dashBoard {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgrey;
}
.pageTitle {
  font-size: 1.25rem;
  text-align: left;
  font-weight: bold;
}

.notification {
  float: right;
  margin-left: auto;
  padding-right: 1rem;
}

.dashBoardBody {
  padding: 2rem;
  margin: 0;
}
